body{
    /* background: -webkit-linear-gradient( rgba(47, 150, 163) rgba(48, 62, 142)); */

    background: linear-gradient(to bottom, rgb(250, 250, 203) 25%,rgb(217, 217, 245) 50%);
    /* background: linear-gradient(to bottom, #648880 0%,#293f50 100%); */
} 

.content{
    margin-top: 150px;
    margin-bottom: 10px;
    background-color: plum;
    padding: 20px;
    width: 100%;
    color: rgb(59, 59, 59);
    font-size: 25px;
   font-family: 'Pacifico', cursive;
}
#display{
    width: 100%;
}
#slider{
    width: 100%;
}


.navbar{
    background-color: rgb(59, 59, 59);  
    text-align: center;
    color: plum; 
   margin-bottom: 35px;
  font-family: 'Pacifico', cursive;
}
.previous_passwords{
    margin-bottom: 20px;
    font-display: bold;
    font-family: 'Pacifico', cursive;
    color:rgb(59, 59, 59);
    font-size: 19px;
}

button{
    background-color:  rgb(59, 59, 59);
    color: plum;
   margin-left: 124px;
   border-right: 36px;
   font-family: 'Liu Jian Mao Cao', cursive;
}

