.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: plum;
    padding: 20px;
    width: 100%;
}
#display{
    width: 100%;
}
#slider{
    width: 100%;
}


.navbar{
    background-color: grey;
    text-align: center;
    color: plum;
}
.previous_passwords{
    margin-bottom: 20px;

}

