.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: plum;
    padding: 20px;
    width: 100%;
    color: rgb(59, 59, 59);
    font-size: 25px;
}
#display{
    width: 100%;
}
#slider{
    width: 100%;
}


.navbar{
    background-color: rgb(59, 59, 59);  
    text-align: center;
    color: plum; 
   margin-bottom: 35px;
}
.previous_passwords{
    margin-bottom: 20px;
    font-display: bold;
}

button{
    background-color:  rgb(59, 59, 59);
    color: plum;
   margin-left: 124px;
   border-right: 36px;
}

